html{
    margin: 0;
}
.area{
    height: 300px;
    width: 300px;
    background-color: lightblue;
    border-radius: 6px;
    display: block;  
}
.heading{
    margin-left: 10px;
    display: block;
}
.amount{
    margin-left: 10px;
}
